<!DOCTYPE html>
<html>
<head>
	<script src="https://use.fontawesome.com/e30142ceb9.js"></script>
	<script type="text/javascript" src='/js/jquery-3.2.0.min.js'></script>
	<script src="parsley.min.js"></script>
	<script type="text/javascript" src='/js/index.js'></script>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<title>What Now</title>
</head>
<body>
	{{{body}}}
</body>
</html>
