<p>{{err}}</p>
<form action="/register" method="post">
<legend>Register</legend>
<input type="text" name="username">
<input type="password" name="password">
<input type="submit" name="Register">
</form>

<form action="/login" method="post">
<legend>Login</legend>
<input type="text" name="username">
<input type="password" name="password">
<input type="submit" name="Login">
</form>