<header>
	<section>
		<!-- <figure><img class='logo' src="/images/logo.png"></figure> -->
		<section class='user'>	
			{{#if user}}
				<div class='currentUser'>
					<a href='/'><div style="height: 28px; padding-top: 2px;"><i class="fa fa-undo" aria-hidden="true"></i></div></a>
					<img src='/images/{{user.pic}}' />
				</div>
			{{else}}
				<a href="/register">
					<div>
						Login / Signup
					</div>
				</a>
			{{/if}}
		</section>
		<div class="clear"></div>
	</section>
</header>
<div>
	<h1>Change Avatar</h1>

</div>
<div>
	<h1>Change Password</h1>
	
</div>